chip-input-button {
  display: contents;

  button {
    --offset: 0rem;

    position: relative;
    top: var(--offset);

    aspect-ratio: 1 / 1;
    text-transform: uppercase;
    min-height: 2rem;
    background-color: hsl(0, 62.2%, 61.6%);

    border: transparent;
    border-radius: 50%;
    box-shadow: 0 calc(0.4rem + var(--offset) * -1) 0 hsl(0, 49%, 48.2%);

    transition: background 0.2s;

    &.pressed {
      --offset: 0.2rem;
    }
  }
}
