* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.console {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  aspect-ratio: 1 / 2;
  height: 100%;
  background-color: hsl(0 0 95);
  box-shadow: 0.2rem 0.2rem 0.5rem hsl(0 0 80);
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  margin: 0;

  height: 100dvh;
  width: 100dvw;
}

dialog {
  border: transparent;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: hsla(0, 0, 50, 0.5);
}
