* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: grid;
  gap: 1rem;
  padding: 2rem;
  margin: 0;

  height: 100dvh;
  width: 100dvw;

  grid-template-areas:
    "screen screen"
    "keyboard menu";

  grid-auto-columns: 1fr max-content;
  grid-auto-rows: min-content 1fr;

  .screen {
    grid-area: screen;
  }

  .keyboard {
    grid-area: keyboard;
  }

  .menu {
    grid-area: menu;
  }
}

dialog {
  border: transparent;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: hsla(0, 0, 50, 0.5);
}
